<input
  [type]="type"
  [placeholder]="placeholder"
  [formControl]="control"
  class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
/>
<ng-container *ngIf="control.touched && control.dirty">
  <span *ngIf="control.errors?.required" class="text-red-500"
    >Field is required.</span
  >
  <span *ngIf="control.errors?.minlength" class="text-red-500">
    The value you inputed is
    {{ control.errors?.minlength?.actualLength }} characters long. it must be at
    least {{ control.errors?.minlength?.requiredLength }} characters long
  </span>
  <span *ngIf="control.errors?.email" class="text-red-500"
    >You must enter a valid email</span
  >

  <span *ngIf="control.errors?.min" class="text-red-500">Value too low</span>
  <span *ngIf="control.errors?.max" class="text-red-500">Value too high</span>
  <span *ngIf="control.errors?.pattern" class="text-red-500">
    Password must be at least 8 characters long, have 1 uppercase letter, 1
    lowercase letter, and 1 number</span
  >
  <span *ngIf="control.errors?.noMatch" class="text-red-500">Passwords do not match.</span>
  <span *ngIf="control.errors?.emailTaken" class="text-red-500">Email Taken. please try another email.</span>

</ng-container>
